.thermometer-widget {
  margin: auto;
  position: relative;
  width: 252px;
  height: 300px;
  
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.thermometer-widget .title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  padding-top: 10px;
}

.thermometer-widget .cause {
  font-size: 12px;
  margin-left: 10px;
}

.thermometer-widget .figures {
  position: absolute;
  right: 0;
  bottom: 0;
  float: right;
  width: 100px;
  text-align: center;
  
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  background: #E7E7E7;
  border: 1px solid white;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.thermometer-widget .figures .current_total, .thermometer-widget .figures .goal {
  overflow: hidden;
}

.thermometer-widget .figures .current_total {
  margin-top: 10px;
}

.thermometer-widget .figures .label, .thermometer-widget .figures .value {
  width: 100%;
  float: left;
  clear: both;
}

.thermometer-widget .figures .value {
  font-size: 20px;
}

.thermometer-widget .display {
  text-align: center;
  float: left;
  width: 135px;
  position: absolute;
  bottom: 10px;
}

.thermometer-widget .display .top {
  position: relative;
  bottom: -3px;
  margin: auto;
  text-align: center;
  height: 12px;
  width: 26px;
  
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid black;
  border-bottom: 0;
}

.thermometer-widget .display .middle {
  position: relative;
  bottom: -3px;
  margin: auto;
  text-align: center;
  height: 165px;
  width: 26px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.thermometer-widget .display .base {
  margin: auto;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  background-color: red;
  border: 1px solid black;
  border-top: 0;
}

.thermometer-widget .display .middle .value {
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 100%;
}

.thermometer-widget .display .base .value {
  margin: auto;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

.thermometer-widget .display .middle .mark {
  position: relative;
  height: 2px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 20px;
  z-index: 10;
}

.thermometer-widget .display .middle .mark .tooltip {
  display: none;
}

.thermometer-widget .display .middle .mark.mark-selected .tooltip {
  display: block;
  position: absolute;
  left: 25px;
  
  text-align: center;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: yellow;
  border: 1px solid black;
}

.thermometer-widget .display .middle .mark.mark-selected {
  height: 3px;
  background-color: yellow;
}